<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
    <script src="~/scripts/libs/jquery-3.1.1.js"></script>
    <script src="~/scripts/libs/bootstrap.js"></script>
    <script src="~/scripts/libs/angular.js"></script>

    @RenderSection("Styles", false);
    @RenderSection("HeadScripts", false);
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
