
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link href="~/styles/bootstrap.css" rel="stylesheet" />
    <link href="~/styles/site.css" rel="stylesheet" />
    @*<link href="~/styles/clean-blog.css" rel="stylesheet" />*@
    <link href="~/styles/font-awesome.css" rel="stylesheet" />
}

@section HeadScripts
{
    <script src="~/scripts/app/pages/modules/admin.module.js"></script>
    <script src="~/scripts/app/pages/services/admin.services.js"></script>
    <script src="~/scripts/app/pages/controllers/admin.controller.js"></script>
}

<section class="content" ng-app="adminModule">
    <section ng-controller="adminController as vm">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Home</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Collectors</a></li>
                    <li><a href="#">Stamps</a></li>
                </ul>
            </div>
        </nav>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search by first name" ng-model="search.FirstName">
                        </div>
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><label>#</label></th>
                            <th><label>First name</label></th>
                            <th><label>Last name</label></th>
                            <th><label>Country</label></th>
                            <th><label>Address</label></th>
                            <th><label>Edit</label></th>
                            <th><label>Remove</label></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="stampCollector in vm.stampCollectors | filter: search | orderBy: 'FirstName'">
                            <td>{{stampCollector.Id}}</td>
                            <td>{{stampCollector.FirstName}}</td>
                            <td>{{stampCollector.LastName}}</td>
                            <td>{{stampCollector.Country}}</td>
                            <td>{{stampCollector.Address}}</td>
                            <td>
                                <button type="button" class="btn btn-warning btn-sm">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="panel-footer">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Footer -->
        @*<footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <ul class="list-inline text-center">
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>*@
    </section>
</section>

